
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<br />
<br />

<div>

    <button id="testButtonId" style="padding: 10px; font-size: 2rem;">Some Button</button>
    <input id="testInputId" type="text" style="padding: 10px; font-size:2rem;"/>

</div>

