<!DOCTYPE html>
<html>
<head>
    <title>Study Time</title>

    <meta name="viewport" content="width=device-width" />
    <script src="~/tsScripts/dist/bundle.js"></script>

</head>
<body>

    @RenderBody()

</body>
</html>

